# Typical build directories
/bin/
/build/

# Each individual repository
/askap-cmake
/askap-analysis
/askap-pipelinetasks
/base-accessors
/base-askap
/base-askapparallel
/base-components
/base-imagemath
/base-logfilters
/base-scimath
/askap-services
/base-logappenders
/lofar-blob
/lofar-common
/yandasoft

# Eclipse files
/.project
/.cproject

# Xcode
/Project.*

# build
/build*
